.trigger button {
	transition: background-color 0.15s ease;
}

.triggerStateColors[data-open="false"] button {
	background-color: var(--ds-color-blue-40);
}

button.triggerStateColors[data-open="true"] {
	background-color: var(--ds-color-blue-10);
	color: var(--ds-color-neutral-white);
	--tw-ring-color: var(--ds-color-blue-10);
}

button.triggerStateColors[data-open="true"]:hover {
	background-color: var(--ds-color-blue-20);
}
