.inputupload-inline-1 {
	font-family: var(--ds-font-family-body);
	font-weight: var(--ds-font-weight-regular);
}

.inputupload-inline-2 {
	font-family: var(--ds-font-family-body);
	font-weight: var(--ds-font-weight-regular);
}

.inputupload-inline-3 {
	font-family: var(--ds-font-family-body);
	font-weight: var(--ds-font-weight-regular);
	line-height: var(--ds-line-15);
}

.inputupload-inline-4 {
	font-weight: var(--ds-font-weight-semibold);
}

.inputupload-inline-5 {
	font-weight: var(--ds-font-weight-regular);
}

.inputupload-inline-6 {
	font-family: var(--ds-font-family-body);
	font-weight: var(--ds-font-weight-regular);
}

.inputupload-inline-7 {
	font-family: var(--ds-font-family-body);
	font-weight: var(--ds-font-weight-semibold);
}

.inputupload-inline-8 {
	font-family: var(--ds-font-family-body);
	font-weight: var(--ds-font-weight-regular);
}
