NODE_ENV=development
HOST=0.0.0.0
CHOKIDAR_USEPOLLING=true

VITE_PORT=5173
VITE_BASE_URL=/
VITE_PUBLIC_DIR=public
VITE_LOG_LEVEL=info

STORYBOOK_PORT=3000
STORYBOOK_ENV=development
STORYBOOK_DISABLE_TELEMETRY=true

PORT=4173
BUILD_DIR=dist
STORYBOOK_STATIC_DIR=storybook-static
