.avatar-inline {
	font-weight: var(--ds-font-weight-semibold);
}
.avatar-inline--xs {
	width: 28px;
	height: 28px;
}
.avatar-inline--sm {
	width: 32px;
	height: 32px;
}
.avatar-inline--md {
	width: 40px;
	height: 40px;
}
.avatar-inline--lg {
	width: 48px;
	height: 48px;
}
.avatar-inline--xl {
	width: 56px;
	height: 56px;
}
.avatar-inline--named {
	background-color: var(--ds-color-neutral-10);
	color: var(--ds-color-neutral-white);
}
.avatar-inline--generic {
	background-color: var(--ds-color-sky-90);
	color: var(--ds-color-sky-90);
}
.avatar-inline__initials {
	font-size: var(--ds-font-size-16);
}
.avatar-inline--xs .avatar-inline__initials {
	font-size: var(--ds-font-size-12);
}
.avatar-inline--sm .avatar-inline__initials {
	font-size: var(--ds-font-size-14);
}
.avatar-inline--lg .avatar-inline__initials {
	font-size: var(--ds-font-size-20);
}
.avatar-inline--xl .avatar-inline__initials {
	font-size: var(--ds-font-size-24);
}
.avatar-inline__status {
	right: 0;
	bottom: 0;
}
.avatar-inline--xs .avatar-inline__status {
	width: 8px;
	height: 8px;
}
.avatar-inline--sm .avatar-inline__status {
	width: 10px;
	height: 10px;
}
.avatar-inline--md .avatar-inline__status {
	width: 12px;
	height: 12px;
}
.avatar-inline--lg .avatar-inline__status {
	width: 14px;
	height: 14px;
}
.avatar-inline--xl .avatar-inline__status {
	width: 16px;
	height: 16px;
}
.avatar-inline__status--available {
	background-color: var(--ds-color-green-30);
}
.avatar-inline__status--away {
	background-color: var(--ds-color-red-40);
}
